h1{
    text-align: center;
}
.marker{
    height: 25px;
    width: 200px;
    margin: 10px auto; /*el primer valor es para marging top y bottom y el segundo valor es para margin left y right*/
}
.one{
    background-color: red;
}
.two{
    background-color: green;
}
.three{
    background-color: blue;
}
.container{
    background-color: rgb(0, 0, 0);
}